<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
</div>
<div class="modal-body text-center">
  <p>Did you serve this appointment?</p>
  <ngx-spinner
    name="modal-spinner"
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="timer"
    fullScreen="false"
  >
    <p class="text-white">Loading...</p>
  </ngx-spinner>
</div>
<div class="row pb-3 pl-4 pr-4">
  <div class="col-6">
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.close(); appointmentNotServed()">No
    </button>
  </div>

  <div class="col-6">
    <button type="button" class="btn btn-outline-success text-right" style="float: right"
            (click)="appointmentServed();activeModal.close()">Yes
    </button>
  </div>
</div>
