.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}

.card {
  margin: 0px -15px !important;
}

.card-body {
  padding: 5px 20px !important;
}
